<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản lý linh kiện</title>

  <link rel="stylesheet" type="text/css" href="../css/dashboard.css">


  <!-------------------------------------------------->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>

  <script src="../script/pagination.js"></script>

  <link rel="stylesheet" href="../css/pagination.css">
  <!-------------------------------------------------->
</head>

<body>
  <div class="wrapper">
    <div class="header">

    </div>

    <div class="content">
      <div class="content-top">
        <p style="margin-bottom: 0 !important;" id="user-info"></p>
        <button id="logout-btn">Đăng xuất</button>
      </div>
      <div class="content-bottom">
        <div class="add">
          <h3>Quản lý linh kiện</h3>
          <button data-toggle="modal" data-target="#addModal">Thêm linh kiện</button>
        </div>
        <div>
          <input type="text" id="search-input" placeholder="Nhập từ khóa tìm kiếm...">
        </div>
        <div class="table">
          <div class="table-header">Quản lý linh kiện</div>
          <div class="table-content">

            <table id="table" class="table table-fluid table-bordered" style="width:100%; text-align: center;">
              <thead>
                <tr>
                  <th style="width: 5%">STT</th>
                  <th style="width: 20%">Mã Linh Kiện</th>
                  <th style="width: 15%">Tên</th>
                  <th style="width: 15%">Giá</th>
                  <th style="width: 10%">Số lượng</th>
                  <th style="width: 10%;">Nhà cung cấp</th>
                  <th style="width: 10%;">Hành động</th>
                </tr>
              </thead>
              <tbody id="data-container">

              </tbody>
            </table>
            <div id="loading"></div>
            <nav id="pagination-container"
              style="display: flex; justify-content: end; margin-top: 32px; margin-bottom: 16px">
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Cập nhật linh kiện</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="accessory_id">Mã linh kiện</label>
              <input type="text" class="form-control" id="accessory_id" readonly name="accessory_id">
            </div>
            <div class="form-group">
              <label for="accessory_name">Tên linh kiện</label>
              <input type="text" class="form-control" id="accessory_name" name="accessory_name">
            </div>
            <div class="form-group">
              <label for="accessory_price">Giá</label>
              <input type="text" class="form-control" id="accessory_price" name="accessory_price">
            </div>
            <div class="form-group">
              <label for="accessory_quantity">Số lượng</label>
              <input type="text" class="form-control" id="accessory_quantity" name="accessory_quantity">
            </div>
            <div class="form-group">
              <label for="supplier_id">Mã nhà cung cấp</label>
              <input type="text" class="form-control" id="supplier_id" name="supplier_id">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Đóng</button>
          <button type="button" class="btn btn-primary" id="btn-update">Cập nhật</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Thêm linh kiện</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="accessory_name_add">Tên linh kiện</label>
              <input type="text" class="form-control" id="accessory_name_add" name="accessory_name_add">
            </div>
            <div class="form-group">
              <label for="accessory_price_add">Giá</label>
              <input type="text" class="form-control" id="accessory_price_add" name="accessory_price_add">
            </div>
            <div class="form-group">
              <label for="accessory_quantity_add">Số lượng</label>
              <input type="text" class="form-control" id="accessory_quantity_add" name="accessory_quantity_add">
            </div>
            <div class="form-group">
              <label for="supplier_id_add">Mã nhà cung cấp</label>
              <input type="text" class="form-control" id="supplier_id_add" name="supplier_id_add">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Đóng</button>
          <button type="button" class="btn btn-primary" id="btn-add">Thêm</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="buyModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="buyModalLabel">Nhập linh kiện</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="accessory_id_buy">Mã linh kiện</label>
              <input type="text" class="form-control" id="accessory_id_buy" readonly name="accessory_id_buy">
            </div>
            <div class="form-group">
              <label for="accessory_name_buy">Tên linh kiện</label>
              <input type="text" class="form-control" id="accessory_name_buy" name="accessory_name_buy" readonly>
            </div>
            <div class="form-group">
              <label for="accessory_price_buy">Giá</label>
              <input type="text" class="form-control" id="accessory_price_buy" name="accessory_price_buy" readonly>
            </div>
            <div class="form-group">
              <label for="accessory_quantity_buy">Số lượng</label>
              <input type="number" class="form-control" id="accessory_quantity_buy" name="accessory_quantity_buy"
                value="1" min="1">
            </div>
            <div class="form-group">
              <label for="supplier_id_buy">Mã nhà cung cấp</label>
              <input type="text" class="form-control" id="supplier_id_buy" name="supplier_id_buy" readonly>
            </div>
            <div class="form-group">
              <label for="accessory_total_buy">Tổng tiền</label>
              <input type="number" class="form-control" id="accessory_total_buy" name="accessory_total_buy" readonly>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Đóng</button>
          <button type="button" class="btn btn-primary" id="btn-buy">Nhập</button>
        </div>
      </div>
    </div>
  </div>

  <!-------------------------------------------------->
  <script src="../script/func.js"></script>
  <script src="../script/constant.js"></script>
  <script src="../script/header.js"></script>
  <!-------------------------------------------------->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>

  <script src="../script/admin-accessory.js"></script>
</body>

</html>